@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$amrita-wine: #722F37;
$amrita-wine-dark: #4F2026;
$amrita-milky: #FEFCFF;
$amrita-white: #FFF;
$amrita-black: #444;