@page
@model Amrita.IdentityManager.Presentation.Pages.Account.Logout.LogoutPageModel


<div class="container is-fluid">
    <section class="section is-medium has-text-centered">
        <h1 class="title">Logout</h1>
        <h2 class="subtitle">
            Would you like to logout of IdentityServer?
        </h2>

        <form asp-page="/Account/Logout/Index">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
            <div class="field">
                <button class="button is-primary">
                    <span class="icon">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    <span>YES</span>
                </button>
            </div>
        </form>
    </section>
</div>