@model SignUpModel

<form asp-page-handler="signUp" method="post" class="sign-up-form">
    <h2 class="title">Sign up</h2>

    <div class="field">
        <div class="control has-icons-left">
            <input class="input" type="text" asp-for="UserName" placeholder="Username">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-clipboard-user"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control has-icons-left">
            <input class="input" type="text" asp-for="FullName" placeholder="Full name">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control has-icons-left">
            <input class="input" type="email" asp-for="Email" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control has-icons-left">
            <input class="input" type="password" asp-for="Password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
            </span>
        </div>
    </div>

    <button class="button is-primary">
        <span class="icon">
            <i class="fa-solid fa-circle-arrow-right"></i>
        </span>
        <span>REGISTER</span>
    </button>
</form>