@page
@model IndexModel

@* ReSharper disable once Razor.SectionNotResolved *@
@section Styles {
    <link rel="stylesheet" href="css/login.css" />
}

@{
    ViewData["Title"] = "Sign in & sign up Form";
}

<nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <i class="fa-solid fa-martini-glass-citrus"></i>
                <svg viewBox="0 0 269.6 71.1" xmlns="http://www.w3.org/2000/svg">
                    <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="currentcolor"
                        stroke-width="0.25mm" fill="currentcolor"
                        style="stroke:currentcolor;stroke-width:0.25mm;fill:currentcolor">
                        <path
                            d="M 62.5 28.5 L 60.8 29.4 L 60.8 70 L 53.3 70 L 53.3 20 L 60.7 20 L 60.7 23.5 A 34.848 34.848 0 0 1 66.957 20.504 A 24.841 24.841 0 0 1 75.3 19 A 26.481 26.481 0 0 1 79.968 19.381 Q 85.612 20.395 88.3 24.1 Q 90 23.1 92.2 22.15 A 37.722 37.722 0 0 1 96.242 20.679 A 41.492 41.492 0 0 1 96.85 20.5 Q 99.3 19.8 101.7 19.4 Q 104.1 19 106.1 19 A 33.018 33.018 0 0 1 109.468 19.161 Q 111.131 19.332 112.54 19.684 A 15.487 15.487 0 0 1 114.35 20.25 Q 117.6 21.5 119.55 24.35 A 13.966 13.966 0 0 1 121.024 27.2 Q 121.564 28.593 121.932 30.258 A 28.307 28.307 0 0 1 122.25 31.95 A 53.942 53.942 0 0 1 122.708 35.815 Q 122.886 37.931 122.956 40.359 A 113.011 113.011 0 0 1 123 43.6 L 123 70 L 115.5 70 L 115.5 43.8 Q 115.5 38.6 115.1 35.1 A 22.598 22.598 0 0 0 114.737 32.859 Q 114.494 31.745 114.149 30.821 A 10.127 10.127 0 0 0 113.55 29.5 Q 112.4 27.4 110.35 26.55 Q 108.861 25.932 106.712 25.764 A 21.883 21.883 0 0 0 105 25.7 Q 101.7 25.7 98.2 26.65 A 57.545 57.545 0 0 0 96.169 27.239 Q 94.324 27.813 93.084 28.369 A 14.894 14.894 0 0 0 92.8 28.5 L 90.9 29.4 Q 92.2 32.6 92.2 44 L 92.2 70 L 84.7 70 L 84.7 44.2 Q 84.7 40.313 84.493 37.385 A 51.756 51.756 0 0 0 84.3 35.25 Q 84.015 32.719 83.349 30.9 A 10.561 10.561 0 0 0 82.75 29.55 A 7.031 7.031 0 0 0 81.425 27.772 A 6.012 6.012 0 0 0 79.55 26.55 Q 78.061 25.932 75.912 25.764 A 21.883 21.883 0 0 0 74.2 25.7 A 23.364 23.364 0 0 0 68.901 26.327 A 26.907 26.907 0 0 0 67.65 26.65 Q 64.3 27.6 62.5 28.5 Z M 38.5 35.1 L 38.5 60.7 A 4.074 4.074 0 0 0 40.879 64.139 Q 42.217 64.835 44.3 65.1 L 44 71 Q 38.579 71 34.994 69.116 A 11.87 11.87 0 0 1 32.1 67 Q 23.2 71 14.1 71 Q 7.2 71 3.6 67.1 A 12.625 12.625 0 0 1 0.846 62.177 Q 0.265 60.294 0.083 58.033 A 26.645 26.645 0 0 1 0 55.9 A 22.792 22.792 0 0 1 0.327 51.905 Q 0.71 49.757 1.543 48.078 A 10.092 10.092 0 0 1 3.7 45.15 A 13.006 13.006 0 0 1 7.316 42.821 Q 10.548 41.381 15.3 40.9 L 31 39.4 L 31 35.1 A 18.655 18.655 0 0 0 30.836 32.528 Q 30.427 29.602 29.003 28.014 A 5.436 5.436 0 0 0 28.8 27.8 A 7.297 7.297 0 0 0 25.122 25.837 A 10.777 10.777 0 0 0 22.8 25.6 Q 18.8 25.6 14.65 25.85 Q 10.5 26.1 6.2 26.6 L 3.1 26.9 L 2.8 21.2 Q 13.414 19.018 22.159 19 A 70.585 70.585 0 0 1 22.3 19 Q 27.364 19 30.777 20.366 A 11.366 11.366 0 0 1 34.65 22.85 A 11.593 11.593 0 0 1 37.282 27.09 Q 38.5 30.375 38.5 35.1 Z M 263.8 35.1 L 263.8 60.7 A 4.074 4.074 0 0 0 266.179 64.139 Q 267.517 64.835 269.6 65.1 L 269.3 71 Q 263.879 71 260.294 69.116 A 11.87 11.87 0 0 1 257.4 67 Q 248.5 71 239.4 71 Q 232.5 71 228.9 67.1 A 12.625 12.625 0 0 1 226.146 62.177 Q 225.565 60.294 225.383 58.033 A 26.645 26.645 0 0 1 225.3 55.9 A 22.792 22.792 0 0 1 225.627 51.905 Q 226.01 49.757 226.843 48.078 A 10.092 10.092 0 0 1 229 45.15 A 13.006 13.006 0 0 1 232.616 42.821 Q 235.848 41.381 240.6 40.9 L 256.3 39.4 L 256.3 35.1 A 18.655 18.655 0 0 0 256.136 32.528 Q 255.727 29.602 254.303 28.014 A 5.436 5.436 0 0 0 254.1 27.8 A 7.297 7.297 0 0 0 250.422 25.837 A 10.777 10.777 0 0 0 248.1 25.6 Q 244.1 25.6 239.95 25.85 Q 235.8 26.1 231.5 26.6 L 228.4 26.9 L 228.1 21.2 Q 238.714 19.018 247.459 19 A 70.585 70.585 0 0 1 247.6 19 Q 252.664 19 256.077 20.366 A 11.366 11.366 0 0 1 259.95 22.85 A 11.593 11.593 0 0 1 262.582 27.09 Q 263.8 30.375 263.8 35.1 Z M 203.4 20 L 219.3 20 L 219.3 26.5 L 203.4 26.5 L 203.4 50.4 A 91.553 91.553 0 0 0 203.463 53.914 Q 203.651 58.78 204.406 60.984 A 5.839 5.839 0 0 0 204.7 61.7 Q 205.628 63.787 208.647 64.261 A 12.645 12.645 0 0 0 210.6 64.4 L 219.5 63.8 L 220 70 Q 216.6 70.5 214.05 70.8 A 54.828 54.828 0 0 1 212.327 70.977 Q 211.519 71.046 210.82 71.076 A 23.603 23.603 0 0 1 209.8 71.1 Q 205.9 71.1 203.25 70.25 A 8.709 8.709 0 0 1 200.225 68.596 A 8.316 8.316 0 0 1 199 67.3 Q 197.4 65.2 196.7 61.7 A 30.967 30.967 0 0 1 196.288 58.939 Q 196 56.259 196 52.8 L 196 26.5 L 188.9 26.5 L 188.9 20 L 196 20 L 196 4.7 L 203.4 4.7 L 203.4 20 Z M 144.4 33.3 L 144.4 70 L 136.9 70 L 136.9 20 L 144.3 20 L 144.3 26.8 A 49.962 49.962 0 0 1 162.525 18.916 A 48.457 48.457 0 0 1 162.6 18.9 L 162.6 26.5 A 38.161 38.161 0 0 0 159.401 27.259 A 44.191 44.191 0 0 0 158.25 27.6 Q 156 28.3 153.85 29.05 Q 151.7 29.8 149.9 30.6 Q 148.101 31.4 146.901 32 L 144.4 33.3 Z M 171.5 70 L 179 70 L 179 20 L 171.5 20 L 171.5 70 Z M 28.7 62.4 L 31 61.6 L 31 45.1 L 16.2 46.5 Q 13.384 46.75 11.547 47.706 A 6.544 6.544 0 0 0 9.7 49.1 A 7.049 7.049 0 0 0 8.232 51.7 Q 7.883 52.773 7.763 54.074 A 15.546 15.546 0 0 0 7.7 55.5 A 16.268 16.268 0 0 0 8.026 58.915 Q 9.102 63.901 13.728 64.59 A 10.691 10.691 0 0 0 15.3 64.7 A 40.924 40.924 0 0 0 28.282 62.542 A 45.91 45.91 0 0 0 28.7 62.4 Z M 254 62.4 L 256.3 61.6 L 256.3 45.1 L 241.5 46.5 Q 238.684 46.75 236.847 47.706 A 6.544 6.544 0 0 0 235 49.1 A 7.049 7.049 0 0 0 233.532 51.7 Q 233.183 52.773 233.063 54.074 A 15.546 15.546 0 0 0 233 55.5 A 16.268 16.268 0 0 0 233.326 58.915 Q 234.402 63.901 239.028 64.59 A 10.691 10.691 0 0 0 240.6 64.7 A 40.924 40.924 0 0 0 253.582 62.542 A 45.91 45.91 0 0 0 254 62.4 Z M 171.5 8.7 L 179 8.7 L 179 0 L 171.5 0 L 171.5 8.7 Z"
                            vector-effect="non-scaling-stroke" />
                    </g>
                </svg>
            </a>
        </div>
    </nav>
<div class="login-container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="#" class="sign-in-form">
                <h2 class="title">Sign In</h2>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Username">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-clipboard-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                </div>

                <button class="button is-primary">
                    <span class="icon">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </span>
                    <span>LOGIN</span>
                </button>

                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-apple"></i>
                    </a>
                </div>
            </form>

            <form action="#" class="sign-up-form">
                <h2 class="title">Sign up</h2>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Username">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-clipboard-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Full name">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                </div>

                <button class="button is-primary">
                    <span class="icon">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </span>
                    <span>REGISTER</span>
                </button>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="flex-panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <p>
                    Please sign up to be a member of amrita.
                </p>
                <button class="button is-transparent is-rounded is-outlined is-white" id="sign-up-btn">
                    Sign up
                </button>
            </div>
            <img src="images/beer.svg" class="image" alt="" />
        </div>
        <div class="flex-panel right-panel">
            <div class="content">
                <h3>Have an account already?</h3>
                <p>
                    Amritans!!! Assemble...
                </p>
                <button class="button is-transparent is-rounded is-outlined is-white" id="sign-in-btn">
                    Sign in
                </button>
            </div>
            <img src="images/join.svg" class="image" alt="" />
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/login.js"></script>
}