@charset "utf-8";
@import "base/amrita_base";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $amrita-wine;
$body-background-color: $amrita-milky;
$nav-main-background-color: rgba(251, 251, 253, 0.8);

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "bulma/bulma.sass";
@import "bulma-switch/src/sass/index.sass";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

// rgb(251, 251, 253)

body {
  background-color: $amrita-milky;
}

.navbar {
  .navbar-item {
    svg {
      color: $amrita-white;
      height: 50px;
      width: 148px;
      transition: 1s 0.8s ease-in-out;
    }
  }
  
  &.is-main {
    background-color: $nav-main-background-color;
    .navbar-item {
      svg {
        color: $amrita-wine;
        border-bottom-color: rgb(255, 255, 255);
        transition: none;
      }
    }
  }
}

.field-validation-error {
  font-size: 0.75em;
  font-weight: 600;
}