@charset "utf-8";
@import "base/amrita_base";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $amrita-wine;
$body-background-color: $amrita-milky;

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

.navbar {
  .navbar-item {
    svg {
      color: $amrita-white;
      height: 50px;
      width: 170px;
      transition: 1s 0.8s ease-in-out;
    }
  }
}