@model Amrita.IdentityManager.Application.Login.Models.SignInModel


<form asp-page-handler="signIn" method="post" class="sign-in-form">
    <h2 class="title">Sign In</h2>
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="field has-text-centered">
        <div class="control has-icons-left">
            <input class="input" type="text" asp-for="EmailId" placeholder="Email id">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-clipboard-user"></i>
            </span>
        </div>
        <span class="has-text-danger" asp-validation-for="EmailId"></span>
    </div>

    <div class="field has-text-centered">
        <div class="control has-icons-left">
            <input class="input" type="password" asp-for="Password" placeholder="Password" autocomplete="off">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
            </span>
        </div>
        <span class="has-text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="field">
        <input asp-for="RememberLogin" type="checkbox" class="switch is-rounded">
        <label asp-for="RememberLogin">Remember my login</label>
    </div>

    <div class="field">
        <button class="button is-primary">
            <span class="icon">
                <i class="fa-solid fa-right-to-bracket"></i>
            </span>
            <span>LOGIN</span>
        </button>
    </div>


    <p class="social-text">Or Sign in with social platform</p>
    <div class="social-media">
        <a href="#" class="social-icon">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fa-brands fa-google"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fa-brands fa-apple"></i>
        </a>
    </div>
</form>